:root {
    color-scheme: light;
}

div#page-header h1, h2 {
    text-align: center;
    font-family: 'Serif', serif;
    color: rgb(0, 0, 83);
}

div#page-header h1 {
    font-size: xx-large;
}

div#page-header h2 {
    font-size: x-large;
}

#box1 {
    width: 200px;
    height: 200px;
}
